.banner_atas{
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    z-index: 100; 
    background: #0A254A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo_lapak{
    position: absolute;
    width: 260px;
    height: 110px;
    left: 25px;
    top: 25px;
}

.kotak_kiri{
    position: absolute;
    width: 226px;
    height: 794px;
    left: 46px;
    top: 200px;

    background: #FFFFFF;
    border: 5px solid #35ADC6;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 54px;
}

a{
    text-decoration: none;
}

.kotak_kanan{
    box-sizing: border-box;

    position: absolute;
    width: 1000px;
    height: 800px;
    left: 283px;
    top: 200px;

    background: #FFFFFF;
    border: 14px solid #35ADC6;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 54px;
}

.judul_dashboard{
    position: absolute;
    width: 990px;
    height: 70px;
    left: 285px;
    top: 210px;
    z-index: 90; 
    border-radius: 54px;

    background: #35ADC6;
}

.penampal_dashboard{
    position: absolute;
    width: 995px;
    height: 30px;
    left: 285px;
    top: 250px;
    z-index: 90; 

    background: #35ADC6;
}

.tulisan_dashboard{
    position: absolute;
    width: 1160px;
    height: 76px;
    left: 610px;
    top: 203px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    z-index: 91; 
}

.kotak_isian{
    box-sizing: border-box;

    position: absolute;
    width: 200px;
    height: 70px;
    left: 12px;
    top: 75px;

    border: 3px solid #000000;
}

.kotak_isian2{
    box-sizing: border-box;

    position: absolute;
    width: 200px;
    height: 70px;
    left: 12px;
    top: 145px;

    border: 3px solid #000000;
}

.text_isian{
    position: absolute;
    width: 200px;
    height: 76px;
    left: 10px;
    top: -6px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.text_isian2{
    position: absolute;
    width: 200px;
    height: 76px;
    left: 25px;
    top: -6px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.statistik_penjualan{
    position: absolute;
    width: 540px;
    height: 190px;
    left: 310px;
    top: 300px;
}

.kotaknya_statistik{
    box-sizing: border-box;

    position: absolute;
    width: 460px;
    height: 190px;
    left: 0px;
    top: 0px;

    border: 2px solid #000000;
    border-radius: 20px;
}

.judulnya_statistik{
    position: absolute;
    width: 200px;
    height: 76px;
    left: 140px;
    top: -15px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.penjualannya_statistik{
    position: absolute;
    width: 500px;
    height: 0px;
    left: 33px;
    top: 40px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
}

.duitnya_statistik{
    position: absolute;
    width: 500px;
    height: 0px;
    left: 290px;
    top: 40px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
}

.kotaknya_aktivitas{
    box-sizing: border-box;

    position: absolute;
    width: 460px;
    height: 450px;
    left: 310px;
    top: 510px;

    border: 2px solid #000000;
    border-radius: 20px;
}

.judulnya_aktivitas{
    position: absolute;
    width: 200px;
    height: 76px;
    left: 450px;
    top: 500px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.textnya_aktivitas{
    position: absolute;
    width: 500px;
    height: 76px;
    left: 430px;
    top: 700px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.kotaknya_notifikasi{
    box-sizing: border-box;

    position: absolute;
    width: 460px;
    height: 450px;
    left: 795px;
    top: 300px;

    border: 2px solid #000000;
    border-radius: 20px;
}

.judulnya_notifikasi{
    position: absolute;
    width: 500px;
    height: 76px;
    left: 879px;
    top: 285px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.produk_notifikasi{
    position: absolute;
    width: 500px;
    height: 100px;
    left: 615px;
    top: 340px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center; 

    color: #000000;
}

.pembeli_notifikasi{
    position: absolute;
    width: 500px;
    height: 100px;
    left: 715px;
    top: 340px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center; 

    color: #000000;
}

.tanggal_notifikasi{
    position: absolute;
    width: 500px;
    height: 100px;
    left: 800px;
    top: 340px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center; 

    color: #000000;
}

.jumlah_notifikasi{
    position: absolute;
    width: 500px;
    height: 100px;
    left: 880px;
    top: 340px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center; 

    color: #000000;
}

.status_notifikasi{
    position: absolute;
    width: 500px;
    height: 100px;
    left: 950px;
    top: 340px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center; 

    color: #000000;
}

.kotak_pemanis{
    box-sizing: border-box;

    position: absolute;
    width: 434px;
    height: 30px;
    left: 806px;
    top: 350px;

    border: 2px solid #000000;
}

.kotaknya_pintas{
    box-sizing: border-box;

    position: absolute;
    width: 460px;
    height: 190px;
    left: 795px;
    top: 770px;

    border: 2px solid #000000;
    border-radius: 20px;
}

.judulnya_pintas{
    position: absolute;
    width: 200px;
    height: 76px;
    left: 960px;
    top: 755px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.kelola_produk{
    position: absolute;
    width: 400px;
    height: 35px;
    left: 825px;
    top: 810px;

    background: #D9D9D9;
    border-radius: 35px;
}

.kritik_dan_saran{
    position: absolute;
    width: 400px;
    height: 35px;
    left: 825px;
    top: 860px;

    background: #D9D9D9;
    border-radius: 35px;
}

.hubungi_penjual{
    position: absolute;
    width: 400px;
    height: 35px;
    left: 825px;
    top: 910px;

    background: #D9D9D9;
    border-radius: 35px;
}

.text_kelola_produk{
    position: absolute;
    width: 200px;
    height: 76px;
    left: 152px;
    top: -22px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.text_kritik_dan_saran{
    position: absolute;
    width: 200px;
    height: 76px;
    left: 143px;
    top: -22px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.text_hubungi_penjual{
    position: absolute;
    width: 200px;
    height: 76px;
    left: 143px;
    top: -22px;

    font-family: 'calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}