@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg-regis.png);
    background-size: cover;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.formloginregister{
    position: relative;
    width: 420px;
    height: 420px;
    background: transparent ;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 30px 40px;
    transition: 2 ease;
}

.formlogin{
    position: absolute;
    width: 100%;
    color: white;
}

.formlogin{
    position: absolute;
    left: 35px;
    width: 80%;
    transition: transform .4s, opacity .4s .1s;

}
.formlogin h1{
    color: #35ADC6;
    font-size: 36px;
    text-align: center;   
}

.formlogin .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 16px;
    color: white;
    padding: 22px 20px 20px 45px;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 15px;
   
}

.input-box input::placeholder{
    position: absolute;
    
    color: #35ADC6;
    left: 40px;
}

.input-box i{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}

.formlogin .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: -15px 0 15px;
}

.remember-forget label{
    color: #35ADC6;
}

.remember-forget label input{
    color: #35ADC6;
    accent-color:#35ADC6;
    margin-right: 3px;
}

.remember-forget a{
    color: #35ADC6;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.formlogin .btn{
    width: 100%;
    height: 45px;
    margin: 10px;
    background:#fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #35ADC6;
    font-weight: 600;
}

.formlogin .btn:hover{
    background: #35ADC6;
    color: #fff;
    border-color: #fff;
}

.formlogin .register-link{
    color: #35ADC6;
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #35ADC6;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}



.formregister .login-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p a{
    color:#35ADC6;
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover{
    text-decoration: underline;
}

/*.active .formlogin {
  transform: translateX(15rem);
  opacity: 0;
  pointer-events: none;
}

.active .formregister {
  transform: translateX(0);
  opacity: 1;
  pointer-events: initial;
}*/




.formregister{
    /* 475 */
    position: relative;
    width: 420px;
    height: 600px;
    background: transparent ;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 30px 40px;
    transition: 2 ease;
}


.formregister{
    position: absolute;
    width: 100%;
    color: white;
}

.formregister{
    position: absolute;
    transform: translateX(-258px) translateY(-220px);
    width: 38%;
    transition: transform .4s, opacity .4s .1s;
}

.formregister h1{
    color: #35ADC6;
    font-size: 36px;
    text-align: center;   
}

.formregister .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 16px;
    color: white;
    padding: 22px 20px 20px 45px;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 15px;
}

.formregister .input-box input::placeholder{
    position: absolute;
    color: #35ADC6;
    left: 40px;
}

.formregister .input-box i{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}

.formregister .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forget label{
    color: #35ADC6;
}

.remember-forget label input{
    color: #35ADC6;
    accent-color:#35ADC6;
    margin-right: 3px;
}

.remember-forget a{
    color: #35ADC6;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.formregister .btn{
    width: 100%;
    height: 45px;
    background:#fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #35ADC6;
    font-weight: 600;
}

.formregister .btn:hover{
    background: #35ADC6;
    color: #fff;
    border-color: #fff;
}

.formregister .login-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p a{
    color:#35ADC6;
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover{
    text-decoration: underline;
}